.header {
  font-size: 45pt;
  font-family: Comic Sans MS, cursive, sans-serif;
  text-align: center;
}

.container {
  text-align: center;
}

.submitform {
  font-family: Comic Sans MS, cursive, sans-serif;
  font-size: 15pt

}

label {
    display:inline-block;
    float: left;
    width:100px;
}
