<html>
  <head>
    <meta charset="UTF-8">
    <title>Song Submission</title>
    <link rel="stylesheet" type="text/css" href="../static/main.css">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>411 Karaoke</h1>
      </div>
      <div class="submission">
        <form class="submitform" action="." method="POST">
          <label>Song Name:</label>
          <input type="text" name="song"><br>
          <label>Youtube URL:</label>
          <input type="text" name="url">
          <br>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </body>
<html>
